.dashboard{
    width: 62%;
    margin: auto;
    height: auto;
}

.dashboardmain{
    background-color: rgba(221, 221, 221, 0.548);
        position: absolute;
        top: 66px;
        left: 0px; /* Gap left */
        right: 0px; /* Gap right */
        bottom: 0px;
}