// Place all the styles related to the api/session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.SignIn-LogIn{
    display: flex;   
}

.SignIn{
    padding-right: 11px;
}

form > h2{
    font-size: 18px;
}

.SignIn-SignUp{
    display: flex; 
    align-items: center;
    flex-direction: column;
    height: 363px;
    // animation-duration: 1s;
    // animation-name: slidein;

}

.formspacing{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    width: 400px;
    position: fixed;
    padding: 30px;
    border: 1px solid #DDD;
    border-radius: 2px;
    background-color: white;
}

.formtype{
    display: flex;
    justify-content: center;
    align-items: center;;
}

// @keyframes slidein {
//   from {
//     margin-left: 100%;
//     width: 300%; 
//   }

//   to {
//     margin-left: 0%;
//     width: 100%;
//   }
// }

.modalcontents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid #cef2fb;
}

.Form-Title{
    margin-bottom: 10p;
    color: #444444;
    margin-bottom: 25px;
    align-self: center;
}

.formsss{
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: space-around;
    width: 100%;
}

.cond{
    margin-bottom: 20px;
    color: #4f83af;
}