// Place all the styles related to the api/session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nav-bar-header{
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 1px;
    padding: 10px;
}

.SignIn-LogIn{
    display: flex;   
}

.SignIn{
    padding-right: 11px;
}

form > h2{
    font-size: 40px;
}

.SignIn-SignUp{
    display: flex; 
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: 25%;
    height: 500px;
    border: solid black 1px;
}

.formspacing{
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}