// Place all the styles related to the api/session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nav-bar-header{
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 1px;
    padding: 10px;
}

.SignIn-LogIn{
    display: flex;   
}

.SignIn{
    padding-right: 11px;
}

form > h2{
    font-size: 40px;
}

.SignIn-SignUp{
    display: flex; 
    align-items: center;
    flex-direction: column;
    margin: auto;
    height: 390px;
    animation-duration: 1s;
    animation-name: slidein;
}

.formspacing{
    padding: 44px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.formtype{
    display: flex;
    justify-content: center;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}