.header-name{
    display: flex;
    width: 637px;
    justify-content: space-between;
}

.dropdown {
  position: relative;
  display: inline-block;
  align-self: center;
  justify-items: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;

}
.dropdown:hover{
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
  cursor: pointer;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    border: solid black;    
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.Navbar-dropdown{
    display: flex;
    width: 500px;
    justify-content: space-evenly;
    align-items: center;
    color: #5081b2;
}

.dropDownItem{
    padding: 15px;
    color: #5081b2;
}

.dropDownItem:hover{
    padding: 15px;
    background-color: #c3d4e5;
    border-radius: 5px;
    color: #5081b2;
    cursor: pointer;
}

.dropdown-content-logged-in{
  background-color: #F3F3F3;
}

.navbarlistheader{
    height: 32px;
    background-color: rgb(138, 199, 255);
    line-height: 32px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 33px;
    position: relative;
    cursor: text;
}

.navbarlistitem{
  padding: 5px;
  text-decoration: none !important; 

}

.projectlistitemlink{
  text-decoration: none;
  color: black;
}

.navbarlistitem:hover{
  background-color: grey;
}

.navbarlistfooter{
  text-decoration: none;
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:black;
}

.navbarlistfooterwrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    border-top: 1px solid #dddddd;
}

.navbarlistfooterwrapper:hover{
  background: gray;
}

.dropdown1 {
  position: relative;
  display: inline-block;
  align-self: center;
  justify-items: center;
}

.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 145px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  animation: menu1 1s;
}


.dropdown1:hover{
    cursor: pointer;
}

.dropdown1:hover .dropdown-content1 {
  display: block;
  cursor: pointer;
}

.dropdownlogout{
  border: none;
}
.dropdownlogout:hover{
  cursor: pointer;
  background-color: gray;
}
#clickDropDown2{
  right: 0;
  left: auto;
  height: fit-content;
  color: black;
  line-height: 32px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: text;
  // padding-left: 10px;
  // padding-right: 10px;
}

.profilelistitme:hover{
  background-color: gray;
  cursor: pointer;
}

#createproject{
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0px;
}

#refresh{
  border-bottom: 1px solid black;
  color: black;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0px;
  justify-content: space-between;
}

#projectstitle{
  font-size: 15px;
}

#navbarname{
  font-size: 18px;
}
@keyframes menu1 {
  0%
  {
    opacity: 0;
  }
  100% 
  {
    opacity: 1;
  }

}
