.ProjectShowPage{
    display: flex;
    flex-direction: column;
    background-color: #212121;
}
.storyCurrent{
    border: 1px solid black;
    height: 100vh;
    width: 300px
}

.Icebox{
    border: 1px solid black;
    height: 100vh;
    width: 300px
}

.storycolheader{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.storyerrors{
    color: #530808;
}

.ProjectShowPageContainer{
    display: flex;
        min-height: 100vh;
}

.sidebarhideshow{
    cursor: pointer;
    display: flex;
    align-items: center;
}