.projecttiles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.projecttilebox{
    width: 48%;
    height: 135px;
    background-color: white;
    margin-bottom: 30px;
    border: 2px solid #EFEFEF;
}

.projecttileheader{
    height: 50px;
    border-bottom: 2px solid #EFEFEF;
    display: flex;
    align-items: center;
    padding-left: 15px;

}

.showallbtn{
    width: 100%;
    background-color: #fffffffc;
    height: 30px;
    border-radius: 3px;
    color: #3676c0;
    font-family: 'Open Sans', open-sans, Helvetica, Arial, EmojiFontFace, sans-serif;
    font-size: 14px;
}

.showallbtn:hover{
    background-color: #f3f4f4;
    cursor: pointer;
}

#users{
    font-family: "Open Sans", open-sans, EmojiFontFace, sans-serif;
    font-size: 14px;
    color: #666;
}

.dropdown-contentarchive{
  visibility: hidden;
  position: absolute;
  background-color: #38474F;
  width: fit-content;
  height: fit-content;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  border-radius: 3px;
  color: white;
}
.dropdown:hover .dropdown-contentarchive {
  visibility: visible;
  opacity: 1;
  cursor: pointer;
}
