// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.User-Info{
    // display: flex;
}

.SignIn-SignUp{
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: 70%;
    height: 500px;
    border: solid black 1px;
}