// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.User-Info{
    // display: flex;
}
h1, h2, b {
    font-weight: bold;
}

h1{
    font-size: 42px;
}

h2{
    font-size: 28px;
}

.nav-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    width: 75%;
    margin: auto;
}

// .nav-bar-header{
//     height: 45px;
//     display: flex;
//     align-items: center;
//     background-color: white;
//     // border-bottom: 1px solid #c3d4e5;
//     justify-content: space-between;
//     padding: 10px;
//     width: 75%;
//     margin: auto;
// }



.img1{
    display: flex;
}

.splash{
    margin: auto;
    width: 74%;
    display: flex;
    flex-direction: column;;
}

.img-statements{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}

.img2{
    display: flex;
    align-items: center;
;
}
.splash-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
    width: 70%;
    margin: auto;
}


.modalbg{
    background-image: url('splash.png');
    background-position: center;
    height: 650px;
    width: 1122px;
    background-color: white;
}
.modalbg1{
    height: 650px;
    width: 1122px;
    background-color: #f3f4f4;
}

.head-element{
    height: 422px;
    display: flex;
    align-items: flex-end;
    flex-direction: column-reverse;
    border-top: 1px solid #c3d4e5;
}

.title{
    margin: auto;
    width: 42%;
    margin-top: 174px;
    margin-left: 432px;
}

.Project-Name{
    font-size: 20px;
    text-decoration: none;
    color: inherit;
    font-family: 'Noto Sans', sans-serif;
    display: flex;
}

.statement{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;   
}

.special-statement{
    font-size: 25px;
    max-width: 580px;
    font-family: 'Noto Sans', sans-serif;
}

.regular-statement{
    font-size: 18px;
}

.lala{
    font-size: 24px;
}

.img-bot{
    background-image: image-url("img1.png");
    background-repeat: no-repeat;
    height: 375px;
}

.btn{
    text-decoration: none;
    background-color: #5384AE;
    border: none;
    color: white;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 2px;
}
.btn:hover{
    text-decoration: none;
    background-color: rgb(70, 123, 168);
    border: none;
    color: white;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 2px;
}
.btn1{
    text-decoration: none;
    background-color: #f39e40;
    border: none;
    color: white;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 2px;
}
.btn1:hover{
    text-decoration: none;
    background-color: #c27e31;
    border: none;
    color: white;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: px;
}

.Get-Started{
    text-decoration: none;
    background-color: rgb(231, 124, 23);
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 2px;
}

.Get-Started:hover{
    text-decoration: none;
    background-color: rgb(189, 96, 9);
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 2px;
}


.logo{
    font-size: 26px;
    background-size: cover;
    color: inherit;
    text-decoration: none;
    padding-bottom: 16px;
    padding-top: 4px;
}

#sign-btn{
    width: 100%;
    margin: 0;
    // margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 2px
}

.user-pw{
    width: 98%;
    border-radius: 2px;
    margin-bottom: 25px;
    height: 35px;
}

.Signupbox{
    display: flex;
    justify-content: center;
    flex-direction: column;
}


#guest-btn{
    width: 96%;
    border-radius: 2px;
    margin: 4px 0px;
    margin-bottom: 15px;
}

.close-x{
    margin-left: auto;
}
.close-x:hover{
    margin-left: auto;
    cursor: pointer;
}

 .projectname-beg{
     color: #f39e40;
 }
 .projectname-end{
     color: blue;
 }

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  font-size: 200px;
}
.banner{
    position: absolute;
    width: 100%;
    height: 422px;
    overflow: hidden;
    z-index: -1;
}