// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.User-Info{
    // display: flex;
}
h1, h2, b {
    font-weight: bold;
}

h1{
    font-size: 35px;
}

h2{
    font-size: 28px;
}

.nav-bar-header{
    display: flex;
    align-items: center;
    background-color: rgb(144, 205, 255);
}



.splash-img1{
    background-image: image-url("img2.svg");
    height: 388px;
    width: 70%;
    float: left;

}

.splash-img2{
    background-image: image-url("img3.svg");
    height: 388px;
    width: 60%;
    float: left;
}

.splash-img3{
    background-image: image-url("img4.svg");
    height: 388px;
    width: 60%;
    float: left;
}

.img1{
    display: flex;
}

.splash{
    margin: auto;
    width: 60%;
    display: flex;
    flex-direction: column;;
}

.img-statements{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}

.img2{
    display: flex;
    align-items: center;
;
}
.splash-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
    width: 70%;
    margin: auto;
}

.head-element{
    height: 380px;
    background-image: image-url("img6.png");
    // z-index: -2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title{
    margin: auto;
    text-shadow: 10px 10px 8px #888888;
    width: 40%;
}

.Project-Name{
    font-size: 20px;
    text-decoration: none;
    color: inherit;
}

.statement{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;   
}

.special-statement{
    font-size: 25px;
    max-width: 580px;
}

.regular-statement{
    font-size: 18px;
}

.lala{
    font-size: 24px;
}

.img-bot{
    background-image: image-url("img1.png");
    height: 375px;
}

.btn{
    text-decoration: none;
    background-color: rgb(117, 165, 238);
    border: none;
    color: white;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
}
.btn:hover{
    text-decoration: none;
    background-color: rgb(70, 136, 236);
    border: none;
    color: white;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
}

.Get-Started{
    text-decoration: none;
    background-color: rgb(231, 124, 23);
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 2px;
}

.Get-Started:hover{
    text-decoration: none;
    background-color: rgb(189, 96, 9);
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 2px;
}

.title{
    // background-color: white;
}

.logo{
    font-size: 50px;
    background-size: cover;
    color: inherit;
    text-decoration: none;
    padding-bottom: 16px;;
}

#sign-btn{
    width: 100%;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px
}

.user-pw{
    width: 98%;
    border-radius: 70px;
}

.Signupbox{
    display: flex;
    justify-content: center;
    flex-direction: column;
}


#guest-btn{
    width: 95%
}

.close-x{
    margin-left: auto;
}
.close-x:hover{
    margin-left: auto;
    cursor: pointer;
}